<nav class="flex justify-between px-2 py-3 bg-black shadow text-white sticky top-0 mb-4">
    <ul class="flex cursor-pointer divide-x divide-gray-500">
        <li class="px-2 hover:bg-gray-800 transition-colors rounded">Home</li>
        <li class="px-2 hover:bg-gray-800 transition-colors rounded">Animals list</li>
        <li class="px-2 hover:bg-gray-800 transition-colors rounded">About</li>
    </ul>
    <div class="flex select-none items-center divide-x divide-gray-500">
        <a href="https://erwan.sh" class="px-2 font-bold text-xl default cursor-pointer">Erwan Egasse</a>
        <p class="px-2 text-sm">{{ "now" | date("d/m/y") }}</p>
    </div>
</nav>